* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Barlow", sans-serif;
    background-image:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
        url("https://raw.githubusercontent.com/SantiaRey/Primer-Parcial---IG2026/2330bc9ab0cf0b5f55de1115d0bfc5406860914a/img/fondo.png");
 background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
}

.contenedor {

    width: 90%;
    max-width: 1200px;
    margin:  auto;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    background: #218BC9;

}

header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.subtitulo {
    font-size: 1.4rem;
    color: #ffffff;
}

nav {
    margin-bottom: 2rem;
}
.menu li{
    display: inline-block;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.cita {

    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.menu a{
    background-color: #218BC9;
    color: white;
    padding: 8px 12px;
    border: 1px solid #024166;
    text-decoration: none;
}

.menu a:hover{
    background-color: #024166;
    color: white;
}
section {

    margin-bottom: 3rem;
}

article {

    background-color: #4CA2D5;
    padding: 2rem;
  
}
img {

    width: 100%;
    max-width: 700px;
    display: block;
    margin: 2rem auto;
}

footer {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    background-color: #218BC9;
    }